*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background: hsl(217, 54%, 11%);
}
.container{
  width: 24.5%;
  background: hsl(216, 50%, 16%);
  margin: 12.5vh auto;
  height: 75vh;
  border-radius: 15px;
  box-shadow: 0 5px 25px 8px hsl(217, 61%, 9%);
}
.equ-img{
  width: 85%;
  display: flex;
  margin: auto;
  position: relative;
  top: 25px;
  border-radius: 10px;
  transition: .5s ease;
backface-visibility: hidden;
}
/* ============================= */
.middle {
  background: hsl(178, 100%, 50%);
  transition: .5s ease;
  opacity: 0;
  width: 20.8%;
  height: 300px;
  position: absolute;
  transform: translate(9%, -92%);
  border-radius: 10px;
}

.container:hover .middle {
  background: hsl(178,100%,50%,46%);
  opacity: 1;
}
.view {
width: 100%;
position: relative;
left: 42.5%;
bottom: -42.5%;

}
/* ============================= */
.heading{
font-family: 'Outfit', sans-serif;
color: white;
font-size: 20px;
font-weight: 600;
padding: 50px 0 0 25px;
}
.heading:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.info-p{
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-weight:300;
  padding: 20px 0 0 25px;
}
.eth{
  margin: 30px 0 0 26px;
  display: inline-block;
}
.value{
  display: inline-block;
  color: hsl(178, 100%, 50%);
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  bottom: 4px;
  left: 5px;
}
.time{
  display: inline-block;
  margin-left:127px;
}
.day{
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  bottom: 4px;
  left: 6px;
}
.line{
  height: 0.5px;
  width: 83%;
  margin: auto;
  position: relative;
  top: 20px;
  background:hsl(215, 51%, 70%);
  opacity: 0.5;
}
.avatar{
  border: 1px solid white;
  border-radius: 50%;
  width: 10%;
  position: relative;
  left: 25px;
  top: 37px;

}
.footer{
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  left: 40px;
  top: 25px;
}
span{
color: white;
}
span:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
